* {
    margin: 0;
    padding: 0;
 
    /* border: 0; */
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    
}

#root {
    display: flex;
    flex-direction: row; /* column */
    flex-wrap: wrap; /* ha több elem nem fér el egy sorban akkor tördeli az elemeket  */
    gap: 20px; /* elemek közé tszünk eltolást */ 
    justify-content: center; /* flexstart, flexend */
    align-items: center;

    padding: 20px;
}

.country {
    width: 300px;
    min-height: 168px;
/*  margin-right: 50px;  */   
/*  margin: 20px;  az elem köré teszi az eltolást */  
    padding: 20px; /* az elem belsejébe teszi az eltolást */ 
    border: 2px /* solid */ dashed black;

/*     border-style: dotted; */
    background-color: rgb(23, 82, 62);
    color: beige;
    border-color: bisque;
}

.country h2 {
    min-height: 80px;
    text-align: center;
}
.country p {

    text-align: center;
}